<main class="mt-5">
    <div class="container">
        <div class="card mx-auto">
            <div class="card-header">
                <img class="card-img-top mx-auto m-2 rounded-circle" src="/img/logo.jpg" alt="logo" style="width: 150px; height: 150px;display:block;">
                <h3 class="text-uppercase text-center p-4">Crud con nodejs y mysql</h3>
            </div>
            <div class="card-body text-center">
                <p>En una ferretería, puedes encontrar una amplia variedad de herramientas, desde las básicas para el hogar hasta las más especializadas para trabajos profesionales. Se incluyen herramientas manuales, eléctricas y de jardín, así como productos para la construcción, el bricolaje y el mantenimiento del hogar</p>
                <a href="#" class="btn btn-primary">Crear una persona</a>

            </div>
        </div>
    </div>
</main>